$color-primary-dark: hsl(243, 87%, 12%);
$color-primary-blue: hsl(238, 22%, 44%);

$color-accent-bright:  hsl(224, 93%, 58%);
$color-accent-moderate: hsl(170, 45%, 43%);

$color-light-blue: hsl(240, 75%, 98%);
$color-light-gray: hsl(0, 0%, 75%);

$color-white: #fff;
$color-black: #000;

$font-family-heading: 'Raleway', sans-serif;
$font-family-body: 'Open Sans', sans-serif;

$default-font-size: 1.6rem;